@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --header-height: 3rem;

    /* Colors */
    --hue-color: 250;

    /* hue (0: red, 120: green, 240: blue), saturation (0%: shade of gray, 100%: full color), lightness (0%: black, 100%: white) */
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /* Font and Typography */
    --body-font: 'Poppins', sans-serif;

    /* 0.5rem = 8px, 1rem = 16px, 1.5 = 24px... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813em;
    --smaller-font-size: 0.75rem;

    /* Font Weight */
    --font-medium: 500;
    --font-semi-bold: 600;

    /* Margin Bottom */
    /* 0.25rem = 4px, 0.5 = 8px, 0.75 = 12px, 1rem = 16px... */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* Z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Responsive Desktop */

@media  screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875em;
        --smaller-font-size: 0.813rem;
    }
}

/* Variables Dark Theme */

body.dark-theme {
    /* HSL color mode */
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
    --footer-color-match: hsl(var(--hue-color), 69%, 61%);
}

/* Button Dark/Light */

.nav__btns {
    display: flex;
    align-items: center;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.qualification__data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 0.5rem;
}

.change-theme:hover {
    color: var(--first-color);
}
/* Loader */

.loader-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--first-color);
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100px;
    height: 100px;
    border: 20px solid;
    border-top-color: rgb(230, 62, 62);
    border-bottom-color: rgb(90, 204, 90);
    border-right-color: rgb(73, 52, 167);
    border-left-color: rgb(240, 203, 41);
    border-radius: 50%;
    animation: spin 2s infinite linear;
}

@keyframes spin {
    from {
        transform: translate(-50%,-50%) rotate(0deg);
    }
    to {
        transform: translate(-50%,-50%) rotate(360deg);
    }
}

/* Base */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Reusable Classes */

.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title,
.section__subtitle {
    text-align: center;
}

/* Layout */

.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/* Nav */

.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0,.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: 0.3s;
    }
}

.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__icon {
    font-size: 1.2rem;
}

.nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover {
    color: var(--first-color-alt);
}

.show-menu {
    bottom: 0;
}

.active-link {
    color: var(--first-color);
}

.scroll-header {
    box-shadow: 0 -2px 8px rgba(0,0,0,0.15);
}

.home__container {
    gap: 1rem;
}

.home__content {
    grid-template-columns: max-content 1fr;
    align-items: center;
}

.home__social {
    display: grid;
    grid-template-rows: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    color: var(--first-color);
}

.home__social-icon:hover {
    color: var(--first-color-alt);
}

.home__data {
    grid-column: 1/3;
    width: 100%;
}

.home__title {
    font-size: var(--big-font-size);
}

.home__subtitle {
    font-size: var(--h3-font-size);
    color: var(--text-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__description {
    margin-bottom: var(--mb-2);
}

/* .home__scroll {
    display: none;
} */

.home__scroll-button {
    color: var(--first-color);
    transition: 0.3s;
}

.home__scroll-button:hover {
    transform: translateY(0.25rem);
}

.home__scroll-mouse {
    font-size: 2rem;
}

.home__scroll-name {
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
}

.home__scroll-arrow {
    font-size: 1.25rem;
}

.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: 0.3s;
}

.button--white {
    background-color: #FFF;
    color: var(--first-color);
    margin-top: var(--mb-1);
}

.button--white:hover {
    background-color: #FFF;

}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.button--submit {
    margin-top: 1rem;
}

.button--small {
    padding: 0.75rem 1rem;
}

.button--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color);
}

.button--link:hover {
    background-color: transparent;
    color: var(--first-color-alt);
}

.about__img {
    width: 200px;
    border-radius: 0.5rem;
    justify-self: center;
    align-self: center;
}

.about__description {
    text-align: end;
    margin-bottom: var(--mb-2-5);
}

.about__info {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    margin-bottom: var(--mb-2-5);
}

.about__info-title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
}

.about__info-name {
    font-size: var(--smaller-font-size);
}

.about__info-title,
.about__info-name {
    display: block;
}

.about__buttons {
    display: flex;
    justify-content: center;
}

.skills__container {
    row-gap: 0;
}

.skills__header {
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills__icon,
.skills__arrow {
    font-size: 2rem;
    color: var(--first-color);
}

.skills__icon {
    margin-right: var(--mb-0-75);
}

.skills__title {
    font-size: var(--h3-font-size);
}

.skills__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.skills__arror {
    margin-left: auto;
    transition: 0.4s;
}

.skills__titles {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.skills__bar,
.skills__percentage {
    height: 5px;
    border-radius: 0.25rem;
}

.skills__bar {
    background-color: var(--first-color-lighter);
}

.skills__percentage {
    display: block;
    background-color: var(--first-color);
}

.skills__html {
    width: 80%;
}

.skills__css {
    width: 60%;
}

.skills__js {
    width: 75%;
}

.skills__angular {
    width: 65%;
}

.skills__node {
    width: 65%;
}

.skills__java {
    width: 40%;
}

.skills__mysql {
    width: 70%;
}

.skills__figma {
    width: 80%;
}

.skills__adobe {
    width: 60%;
}

.skills__ps{
    width: 70%;
}

.skills__vegas{
    width: 90%;
}

.skills__close .skills__list {
    height: 0;
    overflow: hidden;
}

.skills__open .skills__list {
    height: max-content;
    margin-bottom: var(--mb-2-5);
}

.skills__open .skills__arrow {
    transform: rotate(-180deg);
}

.qualification__tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--mb-2);
}

.qualification__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    cursor: pointer;
}

.qualification__button:hover {
    color: var(--first-color);
}

.qualification__icon {
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
}

.qualification__subtitle {
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
}

.qualification__calendar {
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--first-color);
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--first-color);
    transform: translate(6px, -7px);
}

.qualification [data-content] {
    display: none;
}

.qualification__active[data-content] {
    display: block;
    
}

.qualification__button.qualification__active {
    color: var(--first-color);
}

.services__container {
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
}

.services__content {
    position: relative;
    background-color: var(--container-color);
    padding: 3.5rem 0.5rem 1.25rem 1.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.services__content:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.services__icon {
    display: block;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-1);
}

.services__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-1);
    font-weight: var(--font-medium);
}

.services__button {
    cursor: pointer;
    font-size: var(--small-font-size);
}

.services__button:hover .button__icon {
    transform: translateX(0.25rem);
}

.services__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.services__modal-content {
    position: relative;
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 0.5rem;
}

.services__modal-services {
    row-gap: 1rem;
}

.services__modal-service {
    display: flex;
}

.services__modal-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1-5);
}

.services__modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}

.services__modal-icon {
    color: var(--first-color);
    margin-right: var(--mb-0-25);
}

.active-modal {
    opacity: 1;
    visibility: visible;
}

.portfolio__container {
    overflow: initial;
}

.portfolio__content {
    padding: 0 1.5rem;
}

.portfolio__img {
    width: 260px;
    height: 200px;
    border-radius: 0.5rem;
    justify-self: center;
}

.portfolio__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.portfolio__description {
    margin-bottom: var(--mb-0-75);
}

.portfolio__button:hover .button__icon {
    transform: translateX(0.25rem);
}

.swiper-button-prev::after, .swiper-button-next::after {
    content: '';
}

.swiper-portfolio-icon {
    font-size: 2rem;
    color: var(--first-color);
}

.swiper-button-prev {
    left: -0.5rem;
}

.swiper-button-prev {
    right: -0.5rem;
}

.swiper-horizontal > .swiper-pagination-bullets {
    bottom: -2.5rem;
}

.swiper-pagination-bullet-active {
    background-color: var(-first-color);
}

.swiper-button-next, .swiper-button-prev, .swiper-pagination-bullet {
    outline: none;
}

.project {
    text-align: center;
}

.project__bg {
    background-color: var(--first-color-second);
    padding-top: 3rem;
}

.project__title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-75);
}

.project__description {
    margin-top: var(--mb-1);
}

.project__title, .project__description {
    color: #FFF;
}

.project__img {
    width: 232px;
    justify-self: center;
}

.testimonial__data, 
.testimonial__header {
    display: flex;
    flex-direction: column;
}

.testimonial__data {
    justify-content: space-between;
    margin-bottom: var(--mb-1);
}

.testimonial__img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: var(--mb-0-75);
}

.testimonial__name {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.testimonial__client {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.testimonial__description {
    margin-bottom: var(--mb-2-5);
}

.testimonial__icon-star {
    color: var(--first-color);
}

.swiper-container .swiper-pagination-testimonial {
    bottom: 0;
}

.contact__container {
    row-gap: 3rem;
}

.contact__information {
    display: flex;
    margin-bottom: var(--mb-2);
}

.contact__icon {
    font-size: 2rem;
    color: var(--first-color);
    margin-right: var(--mb-0-75);
}

.contact__icon:hover {
    color: var(--first-color-lighter);

}

.contact__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

.contact__subtitle {
    font-size: var(--small-font-size);
    color: var(--text-color-light);
}

.contact__content {
    background-color: var(--input-color);
    border-radius: 0.5rem;
    padding: 0.75rem 1rem 0.25rem;
}

.contact__label {
    font-size: var(--smaller-font-size);
    color: var(--title-color);
}

.contact__input {
    width: 100%;
    background-color: var(--input-color);
    color: var(--text-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: 0.25rem 0.5rem 0.5rem 0;
}

.footer {
    padding-top: 2rem;
}

.footer__container {
    row-gap: 2.5rem;
}

.footer__bg {
    background-color: var(--first-color-second);
    padding: 1.5rem 0 1.5rem;
}

.footer__title {
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-0-25);
}

.footer__subtitle {
    font-size: var(--small-font-size);
}

.footer__links {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.footer__social {
    font-size: 1.25rem;
    margin-right: var(--mb-1-5);
}

.footer__social:hover,
.footer__link:hover,
.footer__end:hover {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.footer__copyright {
    font-size: var(--smaller-font-size);
    text-align: center;
    color: var(--text-color-light);
    margin-top: var(--mb-1-5);
}

.footer__title,
.footer__subtitle,
.footer__link,
.footer__social {
    color: #FFF;
}

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    background-color: var(--first-color);
    opacity: 0.8;
    padding: 0 0.3rem;
    border-radius: 0.4rem;
    z-index: var(--z-tooltip);
    transition: 0.4s;
}

.scrollup:hover {
    background-color: var(--first-color-alt);
}

.scrollup__icon {
    font-size: 1.5rem;
    color: #FFF;
}

.show-scroll {
    bottom: 5rem;
}

body.dark-theme .footer__bg {
    background-color: var(--footer-color-match);
}

body.dark-theme .footer__title,
body.dark-theme .footer__subtitle,
body.dark-theme .footer__link,
body.dark-theme .footer__social {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

body.dark-theme .footer__title:hover,
body.dark-theme .footer__subtitle:hover,
body.dark-theme .footer__link:hover,
body.dark-theme .footer__social:hover {
    color: var(--first-color-lighter);
}

/* Scroll Bar */

::-webkit-scrollbar {
    width: 0.6rem;
    background-color: var(--scroll-bar-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--text-color-light);
}

/* Media Queries for small devices */

@media screen and (max-width: 350px) {
    .home__container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .nav__menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }

    .home__content {
        grid-template-rows: 0.75fr 1fr;
    }

    div#sleep-animation.sleep__animation {
        position: relative;
        top: 3vh;
        left: 15vh;
        transform: scale(0.25);
    }

    div#sleep-animation.sleep__animation + .home__data p.home__desc {
        color: rgb(247, 243, 243);
        position: relative;
        padding-bottom: 0rem;
        top: 5vh;
    }

    .button--c {
        margin-top: 1rem;
    }

    body:not(#desk-animation.svg__animated) {
        margin-top: 3rem;
    }

    .home__container + .home__description {
        position: relative;
        padding-bottom: 2rem;
        top: 5vh;
        left: 2rem;
    }

    .home__subtitle, .home__title {
        position: relative;
    }

    div#desk-animation.svg__animated {
        position: relative;
        top: -3.5vh;
        right: 0vh;
        transform: scale(0.62);
        z-index: 100;
    }

    .home__container {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .skills__title {
        font-size: var(--normal-font-size);
    }

    .qualification__data {
        gap: 2.5rem;
    }

    .services__container {
        grid-template-columns: max-content;
        justify-content: center;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .services__content {
        padding-right: 7.25rem;
    }

    .portfolio__img {
        margin-bottom: 1rem;
    }

    .services__modal {
        padding: 0 1rem;
    }

    .project__img {
        width: 160px;
    }

    body.dark-theme .footer__bg {
        background-color: var(--footer-color-match);
    }

    .skills__container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .testimonial__data,
    .testimonial__header {
        flex-direction: column;
        align-items: center;
    }

    .testimonial__img {
        margin-right: 0;
        margin-bottom: var(--mb-0-25);
    }

    .testimonial__data,
    .testimonial__description {
        text-align: center;
    }

    div.home__data {
        margin-top: -3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__img {
        width: 220px;
        height: 150px;
    }

    .about__container {
        grid-template-rows: max-content;
    }

    .about__description {
        font-size: 0.78rem;
        text-align: center;
        margin-top: 1rem;
        margin-right: 1rem;
        margin-left: 1.5rem;
        width: 220px;
        text-align: start;
    }

    .about__info {
        display: grid;
        grid-template-rows: max-content;
        margin-bottom: var(--mb-2);
        margin-left: 2rem;
        margin-right: 1rem;
        width: 220px;
    }

    .contact__form {
        width: 260px;
        grid-template-rows: repeat(1, 1fr);
        row-gap: 0.65rem;
    }

    .button--white {
        width: 55%;
        height: 40%;
    }

    .contact__inputs {
        grid-template-rows: repeat(1, 1fr);
        row-gap: 0.65rem;
    }
    
}

/* Media Queries for medium devices */

@media screen and (min-width: 568px) {
    .home__content {
        padding-top: 4rem;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }

    .home__data {
        grid-column: initial;
    }

    .home__img {
        order: 1;
        justify-self: center;
    }

    body.dark-theme .footer__bg {
        background-color: var(--footer-color-match);
    }

    .about__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .about__img {
        width: 300px;
        height: 350px;
    }

    .skills__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: space-between;
        column-gap: 2rem;
    }

    .skills__container {
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }

    .portfolio__content {
        grid-template-columns: 1fr 1.8fr;
        column-gap: 0.75rem;
    }

    .project__container {
        grid-template-columns: 2fr 1fr;
    }

    .contact__container {
        grid-template-columns: 3fr 5fr;
    }

    .contact__form {
        width: 330px;
        grid-template-rows: repeat(1, 1fr);
        row-gap: 0.65rem;
    }

    .contact__inputs {
        grid-template-rows: repeat(1, 1fr);
        row-gap: 0.65rem;
    }

    .services__container {
        grid-template-columns: repeat(3, 1fr);
        margin-left: 3rem;
        margin-right: 3rem;
        column-gap: 1rem;
    }

    .footer__container {
        grid-template-columns: 2.5fr 1.5fr 1.5fr;
        column-gap: 1rem;
    }

    .qualification__sections {
        display: grid;
        grid-template-columns: 0.75fr;
        justify-content: space-evenly;
    }

    div#sleep-animation.sleep__animation {
        position: relative;
        top: 0;
        right: 0;
        transform: scale(0.42);
    }

    div#desk-animation.svg__animated {
        position: relative;
        top: 0;
        right: 0;
        transform: scale(0.62);
    }
}

@media screen and (min-width: 768px) {

    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .section__subtitle {
        margin-bottom: 4rem;
    }

    .header {
        top: 0;
        bottom: initial;
        background-color: var(--first-color);
    }

    .nav__link,
    .nav__logo,
    .change-theme {
        color: var(--body-color);
    }

    .nav__link:hover,
    .nav__logo:hover,
    .change-theme:hover {
        color: var(--title-color);
    }

    body.dark-theme .nav__link,
    body.dark-theme .nav__logo,
    body.dark-theme .change-theme {
        color: var(--title-color);
        font-weight: var(--font-medium);
    }

    body.dark-theme .nav__link:hover,
    body.dark-theme .nav__logo:hover,
    body.dark-theme .change-theme:hover {
        color: var(--first-color-lighter);
    }

    .header,
    .main,
    .footer__container {
        padding: 0 1rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__list {
        display: flex;
        column-gap: 2rem;
    }

    .nav__menu {
        margin-left: auto;
    }

    .change-theme {
        margin: 0;
    }

    .home__container {
        row-gap: 3rem;
    }

    .home__content {
        padding-top: 4rem;
        column-gap: 2rem;
        grid-template-columns: 0.5fr 2.25fr 3fr;
    }

    .svg__animated, .sleep__animation {
        width: 365px;
    }

    .home__scroll {
        display: block;
    }

    .home__scroll-button {
        margin-left: 3rem;
    }

    .about__img {
        width: 350px;
    }

    .about__description {
        text-align: initial;
    }

    .about__info {
        justify-content: space-between;
    }

    .about__buttons {
        justify-content: initial;
    }

    .qualification__tabs {
        justify-content: center;
    }

    .qualification__button {
        margin: 0 var(--mb-1);
    }

    .services__container {
        grid-template-columns: repeat(3, 218px);
        justify-content: center;
    }

    .services__icon {
        font-size: 2rem;
    }

    .services__content {
        padding: 6rem 0 2rem 2.5rem;
    }

    .services__modal-content {
        width: 450px;
    }

    .portfolio__img {
        width: 320px;
    }

    .portfolio__content {
        align-items: center;
    }

    .project {
        text-align: initial;
    }

    .project__bg {
        background: none;
    }

    .project__container {
        background-color: var(--first-color-second);
        border-radius: 1rem;
        padding: 3rem 2.5rem 0;
        grid-template-columns: 1fr max-content;
        column-gap: 3rem;
    }

    .project__data {
        padding-top: 0.8rem;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__bg {
        padding: 3rem 0 3.5rem;
    }

    body.dark-theme .footer__bg {
        background-color: var(--footer-color-match);
    }

    .footer__links {
        flex-direction: row;
        column-gap: 2rem;
    }

    .footer__socials {
        justify-self: flex-end;
    }

    .footer__copyright {
        margin-top: 4.5rem;
    }
}

@media (min-width: 768px) and (max-width: 811px) {
    .skills__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        column-gap: 4rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media (min-width: 811px) and (max-width: 968px) {
    .skills__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        column-gap: 3rem;
        margin-left: 5rem;
        margin-right: 4rem;
    }
}

@media (min-width: 968px) and (max-width: 1024px) {

    .skills__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        column-gap: 5rem;
        margin-left: 8rem;
        margin-right: 7rem;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {

    .about__container {
        margin-left: auto;
        margin-right: auto;
    }

    div#sleep-animation.sleep__animation {
        position: relative;
        top: 1vh;
        left: 15vh;
        transform: scale(0.39);
    }

    div#desk-animation.svg__animated {
        position: relative;
        top: -8vh;
        right: 1vh;
        transform: scale(0.93);
    }

    .home__scroll {
        margin-left: 5rem;
        margin-top: -2rem;
    }

    .about__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .about__img {
        width: 300px;
        height: 390px;
    }

    .services__container {
        column-gap: 1.25rem;
    }

    .qualification__sections {
        grid-template-columns: max-content;
    }

    .contact__form {
        width: 475px;
        grid-template-rows: repeat(1, 1fr);
        row-gap: 0.65rem;
    }

    .contact__inputs {
        grid-template-rows: repeat(1, 1fr);
        row-gap: 0.65rem;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    .about__container {
        gap: 1rem;
        padding: 2rem;
       
    }

    .about__img {
        width: 300px;
        height: 420px;
    }
    
}

/* Media Queries for large devices */

@media screen and (min-width: 1024px) {
    .header,
    .main,
    .footer__container {
        padding: 0;
    }

    .svg__animated, .sleep__animation {
        width: 320px;
    }

    .home__social {
        transform: translateX(-6rem);
    }

    .services__container {
        grid-template-columns: repeat(3, 238px);
    }

    .portfolio__content {
        column-gap: 5rem;
    }

    .swiper-portfolio-icon {
        font-size: 3.5rem;
    }

    .swiper-button-prev {
        left: -3rem;
    }

    .swiper-button-next {
        right: -3rem;
    }

    .swiper-container-horizontal > .swiper-pagination-bullets {
        bottom: -4.5rem;
    }

    .contact__form {
        width: 500px;
        grid-template-rows: repeat(1, 1fr);
        row-gap: 0.5rem;
    }

    .contact__inputs {
        grid-template-rows: repeat(1, 1fr);
        row-gap: 0.75rem;
    }

    div#sleep-animation.sleep__animation {
        position: relative;
        top: 10px;
        left: 60px;
        transform: scale(0.44);
    }

    div#desk-animation.svg__animated {
        position: relative;
        top: -9vh;
        left: -5vh;
        transform: scale(1.15);
    }

    .about__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 1rem;
    }

    .about__img {
        width: 340px;
        height: 420px;
    }

    .skills__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
        column-gap: 3rem;
    }

    .qualification__tabs {
        column-gap: 5rem;
    }

    .qualification__content {
        font-size: 0.9rem;
    }

    .qualification__subtitle, .qualification__calendar {
        margin-left: 2.5rem ;
    }

    .qualification__title {
        font-size: 1.1rem;
        margin-left: 2.5rem ;
    }

    .qualification__data {
        display: grid;
        grid-template-columns: 1fr 0.01fr 1fr;
        column-gap: 3rem;
    }

}

@media (min-width: 568px) and (max-width: 768px) {

    div.home__scroll {
        position: relative;
        margin-left: 5rem;
        top: -5vh;
    }

    p.home__description {
        margin-bottom: var(--mb-1);
    }

    div.home__data {
        position: relative;
    }
    
    svg {
        position: relative;
        width: 256px;
        height: 256px;
        top: -12vh;
        right: 1vh;
    }

    div#sleep-animation.sleep__animation {
        position: relative;
        width: 100%;
        height: 100%;
        top: -5vh;
        left: -5vh;
        transform: scale(0.32);
    }

    div#desk-animation.svg__animated {
        position: relative;
        top: 3vh;
        left: -5vh;
        transform: scale(0.8);
    }

    .home__content {
        grid-template-columns: 6fr 2fr 12fr;
        column-gap: 0;
    }

    .sleep__animation + .home__data {
        position: relative;
        top: 10vh;
        left: 9vh;
        grid-column: 3/3;
    }

    .about__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 1rem;
        margin-right: 2.5rem;
        margin-left: 2.5rem;
    }

    .about__img {
        width: 230px;
        height: 390px;
    }

    .about__info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: var(--mb-2);
        margin-left: 3rem;
    }
}

@media (min-width: 567px) and (max-width: 645px) {
    .about__container {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 0.5rem;
        margin-right: 1.25rem;
        margin-left: 1.25rem;
    }

    .about__img {
        width: 210px;
        height: 390px;
    }

    .about__info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: var(--mb-2);
        margin-left: 2rem;
    }
}

@media (min-width: 350px) and (max-width: 567px) {

    .portfolio__img {
        width: 360px;
        height: 200px;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        justify-self: center;
    }

    .project__img {
        width: 185px;
        justify-self: center;
    }

    .contact__form {
        width: 600px;
        grid-template-rows: repeat(1, 1fr);
        row-gap: 0.5rem;
        text-align: center;
    }

    .contact__inputs {
        grid-template-rows: repeat(1, 1fr);
        row-gap: 0.75rem;
        text-align: center;
    }

    .services__container {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .contact__container {
        display: flex;
        flex-direction: column;
        align-items:center ;
        justify-content: center;
    }

    .ctctc {
        transform: translate(-25%, 0%);
    }

    .home__data .button--flex .home__scroll {
        position: relative;
        top: 10vh;
        left: 2.5vh;
    }

    .button--c {
        position: relative;
        opacity: 0.95;
        transform: translate(20%, -50%);
    }

    div#sleep-animation.sleep__animation {
        filter: grayscale(0.33);
    }

    .qualification__content {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }

    .home__scroll {
        position: relative;
        top: 6vh;
    }

    .home__data {
        position: relative;
        top: 5vh;
        left: 12vh;
        width: 180px;
        height: auto;
    }

    .home__data.desk-animation {
        position: relative;
        top: 10vh;
        left: 12vh;
        width: 180px;
        height: auto;
    }

    .home__description {
        position: relative;
        top: -2rem;
        width: fit-content;
    
    }

    .home__subtitle {
        color: var(--first-color-lighter);
        margin-bottom: 4rem;
    }

    .home__description {
        color: var(--text-color)
    }

    div#sleep-animation.sleep__animation + .home__data p.home__desc {
        color: rgb(247, 243, 243);
    }

    .portfolio__img {
        width: 450px;
    }

    .home__content {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 0;
    }

    div#sleep-animation.sleep__animation {
        position: relative;
        top: 10vh;
        left: 9vh;
        transform: scale(0.35);
    }

    div.home__content div#desk-animation.svg__animated {
        position: relative;
        top: -2vh;
        left: -6vh;
    }

    div.home__content div#sleep-animation.sleep__animation {
        position: relative;
        top: 7vh;
        left: 8vh;
    }

    div.home__social:not(div#desk-animation.svg__animated) {
        position: relative;
        margin-top: 6rem;
    }

    .home__description {
        display: flex;
        flex-direction: column;
        text-align: end;
        float: right;
        font-size: 0.88rem;
        padding-left: 1vh;
    }

    .home__subtitle {
        width: 300px;
    }

    .home__scroll {
        position: relative;
        top: -18vh;
        left: -5ch;
    }

    .home__dt:not(.sleep__animation) {
        margin-bottom: 0.1rem;
        margin-top: -2rem;
        
    }

    .home__content:not(.svg__animated) {
        margin-top: -2rem;
        margin-right: 0 auto;
        margin-left: 0 auto;
    }

    .welcome {
        position: absolute;
        z-index: 5000;
    }

    .home__content:not(.sleep__animation) {
        margin-left: -.5rem;
    }

    .home__description {
        width: 300px;
    }

    .services__container {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .skills__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;
    }

    .home__scroll {
        margin-left: 2rem;
        margin-top: 5rem;
    }

    .contact__form {
        width: 440px;
        grid-template-rows: repeat(1, 1fr);
        row-gap: 0.60rem;
        justify-content: space-evenly;
        align-items: center;
    }

    .contact__inputs {
        grid-template-rows: repeat(1, 1fr);
        row-gap: 0.6rem;
    }

    .contact__information {
        transform: translate(30%, 50%);

    }

    .about__description {
        font-size: 0.8rem;
        text-align: start;
        column-gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .about__img {
        width: 220px;
        height: 270px;
        margin-bottom: 2rem;
    }

    .about__info {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: var(--mb-2);
        margin-left: 2.5rem;
    }

}

@media (min-width: 350px) and (max-width: 460px) {
    html {
        overflow-x: hidden;
    }
}

@media screen and (max-width: 350px) {
    div.home__container {
        margin-right: var(--mb-0-5);
        margin-left: var(--mb-1-5);
    }
}

/* Welcome Animation */

.wrapper {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  width: 21ch;
  animation: typing 3s steps(21), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: var(--body-font);
  font-size: 1.25em;
  font-weight: var(--font-medium);
  color: var(--text-color);
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

#sleep-animation {
    display: none;
}

#desk-animation {
    display: none;
}

/* Light Mode Desk Animation */ 

svg {
  width: 256px;
  height: 256px;
}

.svg__animated {
  width: 210px;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--body-color);
}

/* SMOKE */
#smoke-1 {
  stroke-dasharray: 0, 10;
  animation: smoke 6s ease infinite;
}

#smoke-2 {
  stroke-dasharray: 0, 10;
  animation: smoke 6s 0.5s ease infinite;
}

@keyframes smoke {
  0% { stroke-dasharray: 0, 10; }
  50% { stroke-dasharray: 10, 0; }
  100% { stroke-dasharray: 10, 0; opacity: 0; }
}

/* WRITING */
#line-1 {
  opacity: 0;
  animation: writing 0.5s linear forwards;
}

#line-2 {
  opacity: 0;
  animation: writing 0.5s 1s linear forwards;
}

#line-3 {
  opacity: 0;
  animation: writing 0.5s 1.5s linear forwards;
}

#line-4 {
  opacity: 0;
  animation: writing 0.5s 2s linear forwards;
}

@keyframes writing {
  0% { width: 0px; opacity: 1;}
  100% { width: 14px; opacity: 1;}
}

/* Dark Mode Sleep Animation */

.sleep__animation {
    margin: 0;
    background: #342b4a;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 50%;
    left: 27%;
    font-family: "Poppins", sans-serif;
    margin: 0;
    background: #342b4a;
    transform: scale(0.38);
}
.sleep__animation .bed {
    background: #332944;
    width: 365px;
    height: 580px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: inset 0px 30px #262038, -50px 7px 0px 10px #262038;
}
.sleep__animation .bed .bed-shadow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.sleep__animation .bed .bed-shadow .window-light {
    background: #5a5b89;
    right: -40px;
    top: 109px;
    height: 139px;
}
.sleep__animation .bed .bed-shadow .window-light:nth-child(2) {
    top: 261px;
}
.sleep__animation .bed .bed-head {
    width: 400px;
    height: 25px;
    background: #3c3557;
    border-radius: 5px;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.sleep__animation .bed .ground-cloth {
    width: 340px;
    height: 210px;
    background: #565881;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}
.sleep__animation .bed .ground-cloth:after {
    content: " ";
    width: 100%;
    height: 15px;
    background: #4b4d73;
    position: absolute;
    bottom: 0;
    left: 0;
}
.window-light {
    position: absolute;
    width: 235px;
    height: 145px;
    right: 30px;
    bottom: -35px;
    border-radius: 5px;
    background: #ff766c;
    transform: skewY(-10deg);
}
.sleep__animation .bed .ground-cloth .window-light:first-child {
    right: -216px;
    top: 56px;
}
.sleep__animation .bed .ground-cloth .under-pillow-shadows {
    width: 100px;
    height: 65px;
    position: absolute;
    bottom: 0;
    left: 110px;
    overflow: hidden;
}
.sleep__animation .bed .ground-cloth .under-pillow-shadows .head-shadow {
    width: 92px;
    height: 90px;
    border-radius: 0 0 46px 46px;
    position: absolute;
    bottom: 31px;
    left: 2px;
    background: #4b4d76;
}
.sleep__animation .bed .ground-cloth .under-pillow-shadows .neck-shadow {
    width: 22px;
    height: 35px;
    position: absolute;
    bottom: 7px;
    left: 36px;
    background: #4b4d76;
}
.sleep__animation .bed .ground-cloth .pillow {
    width: 230px;
    height: 110px;
    position: absolute;
    border-radius: 8px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background: #453e5f;
    box-shadow: 0px 10px 0px 4px #4b4d76;
    overflow: hidden;
}
.sleep__animation .bed .ground-cloth .pillow .window-light {
    right: -25px;
    top: 83px;
}
.sleep__animation .bed .ground-cloth .pillow .pillow-shadows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: inset 0px -5px 0px #453e5f;
    overflow: hidden;
}
.sleep__animation .bed .ground-cloth .pillow .pillow-shadows .ear-shadow {
    background: #352a4a;
    border-radius: 50%;
    width: 40px;
    height: 32px;
    position: absolute;
    bottom: -8px;
    left: 46px;
}
.sleep__animation .bed .ground-cloth .pillow .pillow-shadows .head-shadow {
    background: #352a4a;
    border-radius: 50%;
    width: 71px;
    height: 90px;
    position: absolute;
    bottom: -6px;
    left: 54px;
    transform: rotate(10deg);
}
.sleep__animation .bed .ground-cloth .boy {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 99;
}
.sleep__animation .bed .ground-cloth .boy .shoulder {
    width: 110px;
    height: 110px;
    background: #473e5b;
    border-radius: 40px;
    position: absolute;
    left: 50%;
    bottom: -62px;
    transform: scaleY(0.5) translateX(-50%) rotate(-45deg);
}
.sleep__animation .bed .ground-cloth .boy .neck {
    width: 22px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translateX(-50%);
    background: #3e385a;
    border-radius: 50px / 20px;
    box-shadow: inset 0px -20px 0px #b34c39;
}
.sleep__animation .bed .ground-cloth .boy .ears {
    position: absolute;
    left: 50%;
    bottom: 107px;
    transform: translateX(-50%);
}
.sleep__animation .bed .ground-cloth .boy .ears:after, .sleep__animation .bed .ground-cloth .boy .ears:before {
    content: " ";
    position: absolute;
    left: -60px;
    width: 18px;
    height: 18px;
    background: #373461;
    border: 5px solid #b34c39;
    border-radius: 50%;
}
.sleep__animation .bed .ground-cloth .boy .ears:after {
    left: 32px;
}
.sleep__animation .bed .ground-cloth .boy .head {
    width: 92px;
    height: 90px;
    border-radius: 0 0 46px 46px;
    position: absolute;
    left: 50%;
    bottom: 43px;
    transform: translateX(-50%);
    background: #e36559;
    box-shadow: inset 0px -7px 0px #b34c39;
}
.sleep__animation .bed .ground-cloth .boy .head .nose {
    width: 13px;
    height: 22px;
    background: #b54b3e;
    border-radius: 10px;
    position: absolute;
    animation: yawnForNose 5s infinite ease-in-out;
    left: 50%;
    transform: translateX(-50%);
}
.sleep__animation .bed .ground-cloth .boy .head .nose:after, .sleep__animation .bed .ground-cloth .boy .head .nose:before {
    content: " ";
    width: 10px;
    height: 8px;
    background: #b54b3e;
    border-radius: 50%;
    position: absolute;
    left: -25px;
    top: 22px;
}
.sleep__animation .bed .ground-cloth .boy .head .nose:after {
    left: 28px;
}
.sleep__animation .bed .ground-cloth .boy .head .eyebrows {
    position: absolute;
    bottom: 67px;
    left: 50%;
    transform: translateX(-50%);
    perspective: 50px;
}
.sleep__animation .bed .ground-cloth .boy .head .eyebrows .eyebrow {
    width: 30px;
    height: 9px;
    border-radius: 30% 50% 30% 70%;
    background: #342b4a;
    position: absolute;
    left: -38px;
    top: -8px;
    transform: rotateY(-38deg) scaleX(1.3) rotate(-2deg);
}
.sleep__animation .bed .ground-cloth .boy .head .eyebrows .eyebrow:nth-child(2) {
    left: 4px;
    transform: rotateY(117deg) scaleX(0.8) rotate(180deg) rotateY(180deg);
}
.sleep__animation .bed .ground-cloth .boy .head .eyes {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: yawnForEyes 5s infinite ease-in-out;
}
.sleep__animation .bed .ground-cloth .boy .head .eyes:after, .sleep__animation .bed .ground-cloth .boy .head .eyes:before {
    content: " ";
    width: 9px;
    height: 9px;
    border: 2.5px solid #342b4a;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    border-radius: 50%;
    position: absolute;
    left: -28px;
    top: 0;
}
.sleep__animation .bed .ground-cloth .boy .head .eyes:after {
    left: 13px;
}
.sleep__animation .bed .ground-cloth .boy .head .mouth {
    height: 12px;
    animation: yawnForMouth 5s infinite ease-in-out;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #342b4a;
}
.sleep__animation .bed .ground-cloth .boy .head .mouth:after {
    content: " ";
    position: absolute;
    top: 6px;
    width: 20px;
    height: 17px;
    border-radius: 50%;
    box-shadow: inset 0px -10px 0px -5px #b54b3e;
    left: 50%;
    transform: translateX(-50%);
}
.sleep__animation .bed .ground-cloth .boy .hair {
    position: absolute;
    bottom: 130px;
    left: 50%;
    transform: translateX(-50%);
}
.sleep__animation .bed .ground-cloth .boy .hair .part {
    position: absolute;
    border-radius: 50%;
    background: #342b4a;
}
.sleep__animation .bed .ground-cloth .boy .hair .part.keen:after, .sleep__animation .bed .ground-cloth .boy .hair .part.keen:before {
    content: " ";
    width: 50px;
    height: 25px;
    border-radius: 25px 25px 0 0;
    background: #342b4a;
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleY(0.7) skew(28deg);
}
.sleep__animation .bed .ground-cloth .boy .hair .part.keen:after {
    border-radius: 0 0 25px 25px;
    transform: scaleY(0.7) skew(-28deg);
    top: 17px;
}
.sleep__animation .bed .ground-cloth .boy .hair .part:nth-child(1) {
    width: 85px;
    height: 40px;
    left: -41px;
    bottom: -4px;
}
.sleep__animation .bed .ground-cloth .boy .hair .part:nth-child(2) {
    left: 43px;
    bottom: 30px;
    transform: rotate(69deg) scale(0.85) scaleY(0.8);
}
.sleep__animation .bed .ground-cloth .boy .hair .part:nth-child(3) {
    left: -20px;
    bottom: 15px;
    transform: rotate(107deg) scale(0.75) scaleY(0.9);
}
.sleep__animation .bed .ground-cloth .boy .hair .part:nth-child(4) {
    left: -29px;
    bottom: 17px;
    transform: rotate(18deg) scale(0.9) scaleY(0.5);
}
.sleep__animation .bed .ground-cloth .boy .hair .part:nth-child(5) {
    left: -25px;
    bottom: 33px;
    transform: rotate(-26deg) scale(0.9) scaleY(0.8);
}
.sleep__animation .bed .ground-cloth .boy .hair .part:nth-child(6) {
    left: -47px;
    bottom: 21px;
    transform: rotate(-48deg) scale(0.9) scaleY(0.8);
}
.sleep__animation .bed .ground-cloth .boy .hair .part:nth-child(7) {
    left: -54px;
    bottom: -28px;
    width: 21px;
    height: 10px;
    border-radius: 30px;
    transform: rotate(85deg) skew(-24deg);
}
.sleep__animation .bed .ground-cloth .boy .hair .part:nth-child(8) {
    left: 32px;
    bottom: -26px;
    width: 23px;
    height: 10px;
    border-radius: 30px;
    transform: rotate(95deg) skew(24deg);
}
.sleep__animation .bed .quilt {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 340px;
    height: 350px;
    background: #332944;
}
.sleep__animation .bed .quilt .top {
    width: 354px;
    height: 75px;
    border-radius: 8px;
    background: #453e5f;
    position: absolute;
    top: 0;
    left: -7px;
    overflow: hidden;
}
.sleep__animation .bed .quilt .top .window-light:nth-child(1) {
    right: 37px;
    bottom: 46px;
}
.sleep__animation .bed .quilt .top .window-light:nth-child(2) {
    right: 37px;
    bottom: -113px;
}
.sleep__animation .bed .quilt .top .window-light:nth-child(3) {
    right: -209px;
    bottom: 91px;
}
.sleep__animation .bed .quilt .top .window-light:nth-child(4) {
    right: -209px;
    bottom: -68px;
}
.sleep__animation .bed .quilt .bottom {
    width: 100%;
    height: 252px;
    border-radius: 0 0 8px 8px;
    background: #453e5f;
    position: absolute;
    bottom: 8px;
    left: 0;
    overflow: hidden;
    box-shadow: 22.5px -58px 0px -52.5px #565891;
}
.sleep__animation .bed .quilt .bottom .window-light:nth-child(1) {
    right: 30px;
    bottom: 162px;
}
.sleep__animation .bed .quilt .bottom .window-light:nth-child(2) {
    right: -216px;
    bottom: 207px;
}

.sleep__animation .shoes {
    width: 70px;
    height: 68px;
    position: absolute;
    top: 0;
    left: -260px;
}
.sleep__animation .shoes .shoe {
    position: absolute;
    width: 40px;
    height: 32px;
    background: #453e5f;
    border-radius: 20px 8px 8px 20px;
    box-shadow: -10px 5px 0px #261f3e;
}
.sleep__animation .shoes .shoe:before {
    content: " ";
    position: absolute;
    right: -31px;
    width: 27px;
    height: 27px;
    top: 3px;
    border-radius: 2px 20px 20px 2px;
    background: #342b4a;
}
.sleep__animation .shoes .shoe:nth-child(1) {
    top: 0;
}
.sleep__animation .shoes .shoe:nth-child(2) {
    bottom: 0;
}

.sleep__animation .table {
    width: 140px;
    height: 143px;
    background: #3c3557;
    border-radius: 7px;
    position: absolute;
    box-shadow: -30px 12px #262038
}
.sleep__animation .table:before {
    content: " ";
    width: 120px;
    height: 12px;
    background: #312b47;
    border-radius: 0 0 5px 5px;
    position: absolute;
    bottom: -12px;
    left: 10px;
    box-shadow: -30px 12px #262038
}
.sleep__animation .table:after {
    content: " ";
    width: 30px;
    height: 15px;
    border-radius: 0 0 15px 15px;
    position: absolute;
    background: #403659;
    left: 50%;
    transform: translateX(-50%);
    bottom: -27px;
    box-shadow: -30px 12px #262038
}
.sleep__animation .table.left {
    left: -340px;
    top: -260px;
}
.sleep__animation .table.left .lamp {
    background: #565881;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: -25px;
    left: -22px;
}
.sleep__animation .table.left .lamp .bulb {
    position: absolute;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 16px solid #202038;
}
.sleep__animation .table.left .lamp .bulb:after, .sleep__animation .table.left .lamp .bulb:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #202038;
    width: 3px;
    height: 25px;
}
.sleep__animation .table.left .lamp .bulb:after {
    transform: translate(-50%, -50%) rotate(90deg);
}
.sleep__animation .table.left .phone {
    position: absolute;
    width: 25px;
    height: 45px;
    bottom: 15px;
    right: 15px;
    border-radius: 3px;
    background: #091434;
    transform: rotate(35deg);
    box-shadow: -1px 2px #322b4c;
}
.sleep__animation .table.left .phone:before {
    content: " ";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 4px;
    bottom: 3px;
    border-radius: 50%;
    background: #3f508e;
}
.sleep__animation .table.left .phone:after {
    content: " ";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 19px;
    height: 30px;
    top: 6px;
    animation: phoneLCD 20s infinite -3s ease-out;
}

.sleep__animation .table.right {
    left: 198px;
    top: -260px;
}
.sleep__animation .table.right .table-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 7px;
    overflow: hidden;
}
.sleep__animation .table.right .table-shadow .window-light {
    right: -68px;
    bottom: -100px;
    background: #5a5b89;
}

.sleep__animation .on-ground-lights .window-light {
    right: -390px;
    bottom: 35px;
}
.sleep__animation .on-ground-lights .window-light:nth-child(2) {
    bottom: -125px;
}
.sleep__animation .on-ground-lights .window-light .cat {
    background: #342b4a;
    width: 45px;
    height: 90px;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: 10px;
    transform: translateY(-50%);
    border-radius: 50px 0 0 30px;
}
.sleep__animation .on-ground-lights .window-light .cat .head {
    background: #342b4a;
    position: absolute;
    width: 50px;
    height: 36px;
    bottom: 0;
    right: 16px;
    animation: catHeadShake 10s infinite ease-out;
    border-radius: 50% / 79px;
}
.sleep__animation .on-ground-lights .window-light .cat .head:after, .sleep__animation .on-ground-lights .window-light .cat .head:before {
    content: " ";
    background: #342b4a;
    width: 32px;
    height: 17px;
    transform: skewX(60deg);
    position: absolute;
    top: 0;
    left: 0;
}
.sleep__animation .on-ground-lights .window-light .cat .head:after {
    transform: skewX(-60deg);
    top: 19px;
}

@keyframes yawnForMouth {
    0%, 50%, 100% {
        bottom: 22px;
        width: 24px;
        border-radius: 5px 5px 12px 12px;
    }
    75% {
        bottom: 18px;
        width: 12px;
        border-radius: 12px;
    }
}
@keyframes yawnForNose {
    0%, 50%, 100% {
        bottom: 45px;
    }
    75% {
        bottom: 42px;
    }
}
@keyframes yawnForEyes {
    0%, 50%, 100% {
        bottom: 66px;
    }
    75% {
        bottom: 65px;
    }
}

@keyframes catHeadShake {
    0%, 67%, 100% {
        transform: rotate(0deg);
    }
    70%, 97% {
        transform: rotate(-10deg);
    }
}

@keyframes phoneLCD {
    0%, 70%, 100% {
        background: black;
    }
    72%, 93% {
        background: white;
    }
}

@media (min-width: 767px) and (max-width: 967px) {
    div#desk-animation {
        position: relative;
        top: 0vh;
        right: 3vh;
        transform: scale(0.77);
        width: 100%;
        height: auto;
        z-index: 100;;
    }
}

@media screen and (max-width: 408px) {

.qualification__content {
    font-size: 0.8rem;
}

.qualification__title {
    font-size: 0.7rem;
}

.qualification__button {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.qualification__data {
    display: grid;
    grid-template-columns: 0.5fr max-content 0.5fr;
    column-gap: 0.90rem;
}
}

@media (min-width: 360px) and (max-width: 568px) {
    .home__data {
        margin-left: auto;
        margin-right: auto;
    }

    #about { 
        margin-top: -6rem;
    }
}